{% extends "admin_tools/dashboard/module.html" %}
{% block module_content %}
{{ module.interval }}
  <script src="http://oesmith.github.com/morris.js/js/libs/raphael-2.0.2.min.js"></script>
  <script src="http://oesmith.github.com/morris.js/js/morris.js"></script>

  <script charset="utf-8" type="text/javascript">
  
    Morris.Line({
      element: 'torrents',
      data: [
        {% for torrent in module.torrents %}{y: '{{ torrent.date|date:"Y-m-d" }}', a: {{ torrent.quantity }}},{% endfor%}
      ],
      xkey: 'y',
      ykeys: ['a'],
      lineColors: ['#7A92A3'],
      labels: ['Torrents added']
    });

  </script>
  
  <div class="graph" id="torrents" style="width:800px; height:200px;"></div>
  
{% endblock %}
