html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block
}
blockquote,q {
	quotes:none
}
blockquote:before,blockquote:after,q:before,q:after {
	content:"";
	content:none
}
ins {
	background-color:#ff9;
	color:#000;
	text-decoration:none
}
mark {
	background-color:#ff9;
	color:#000;
	font-style:italic;
	font-weight:bold
}
del {
	text-decoration:line-through
}
abbr[title],dfn[title] {
	border-bottom:1px dotted;
	cursor:help
}
table {
	border-collapse:collapse;
	border-spacing:0
}
hr {
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #ccc;
	margin:1em 0;
	padding:0
}
input,select {
	vertical-align:middle
}
a img {
	border:0
}
body {
	font:13px/1.231 sans-serif;
	*font-size:small
}
select,input,textarea,button {
	font:99% sans-serif
}
pre,code,kbd,samp {
	font-family:monospace,sans-serif
}
html {
	overflow-y:scroll
}
a:hover,a:active {
	outline:0
}
ul,ol {
	margin-left:2em
}
ol {
	list-style-type:decimal
}
nav ul,nav li {
	margin:0;
	list-style:none;
	list-style-image:none
}
small {
	font-size:85%
}
strong,th {
	font-weight:bold
}
td {
	vertical-align:top
}
sub,sup {
	font-size:75%;
	line-height:0;
	position:relative
}
sup {
	top:-0.5em
}
sub {
	bottom:-0.25em
}
pre {
	white-space:pre;
	white-space:pre-wrap;
	word-wrap:break-word;
	padding:15px
}
textarea {
	overflow:auto
}

input[type="radio"] {
	vertical-align:text-bottom
}
input[type="checkbox"] {
	vertical-align:bottom
}

label,input[type="button"],input[type="submit"],input[type="image"],button {
	cursor:pointer
}
button,input,select,textarea {
	margin:0
}
input:invalid,textarea:invalid {
	border-radius:1px;
	-moz-box-shadow:0 0 5px red;
	-webkit-box-shadow:0 0 5px red;
	box-shadow:0 0 5px red
}
.no-boxshadow input:invalid,.no-boxshadow textarea:invalid {
	background-color:#f0dddd
}
button {
	width:auto;
	overflow:visible
}
.ie7 img {
	-ms-interpolation-mode:bicubic
}
body,select,input,textarea {
	color:#444
}
h1,h2,h3,h4,h5,h6 {
	font-weight:bold
}
a,a:active,a:visited {
	color:#607890
}
a:hover {
	color:#036
}
body {
	font-family:"Lucida Grande",Verdana,sans-serif;
	font-size:16px;
	border-top: 5px solid #BFAF7F;
	background: none repeat scroll 0 0 #FBF9DB;
}
img {
	max-width:100%
}
a,a:visited {
	color:#444
}
a:hover {
	color:black
}

#popover {
	display:none;
	position:absolute;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-moz-box-shadow:2px 2px 3px #444;
	-webkit-box-shadow:2px 2px 3px #444;
	box-shadow:2px 2px 3px #444;
	background:#000;
	width:300px height:200px;
	z-index:100;
	padding:3px
}
#popover .content {
	font-size:.75em;
	width:200px
}


#popover .arrow {
	position:absolute;
	background:url(http://assets.goodrx.com/static/images/popover-arrow.png) 0 0 no-repeat;
	width:14px;
	height:6px;
	z-index:110
}


body>footer {
	font-size:.75em;
	color:#737163;
	width:85%;
	margin:10px auto 60px
}
body>footer nav {
	float:left;
	width:50%
}
body>footer nav ul li {
	display:inline;
	display:inline-block;
	margin-right:1em
}
body>footer div.copyright {
	float:left;
	width:50%;
	text-align:right
}
body>footer p {
	clear:both;
	padding-top:20px
}



body#drug>header,body.marketing-page>header,body.browse-page>header,body.error-page>header,body.content-page>header {
	width:90%;
	margin:20px auto 8px
}
#drug #logo,body.marketing-page #logo,body.error-page #logo,body.browse-page #logo,body.content-page #logo {
	float:left;
	padding-left:3.19149%;
}

#drug .tabs {
    border-bottom: 3px solid #595744;
}
#drug .tabs .prompt {
    display: inline-block;
    font-size: 0.8125em;
    margin-right: 1.06383%;
    text-align: right;
    width: 15.4255%;
}
#drug .tabs ul {
    display: inline;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#drug .tabs li.selected {
    background: none repeat scroll 0 0 #595744;
    color: #FFF9C2;
}
#drug .tabs ul li {
    background: none repeat scroll 0 0 #999999;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #595744;
    display: inline-block;
    padding: 0.25em 0.5em;
    margin: 0 0 0 5px;
}
#drug .tabs li.selected {
    background: none repeat scroll 0 0 #666666;
    color: #FFF9C2;
}
#drug .tabs ul li:hover {
    background: none repeat scroll 0 0 #666666;
    cursor: pointer;
}
#drug .tabs ul li.selected:hover {
    background: none repeat scroll 0 0 #595744;
    cursor: default;
}
#drug .tabs li > div {
    font-size: 0.8125em;
}
#drug .tabs ul li a {
    text-decoration: none;
    color: #FFFFFF;
}





#main {
	position:relative;
	width:87.9166666%;
	margin:0 auto 20px
}



#drug #main header div.info h4:after,body.browse-page #main header div.info h4:after {
	content:':'
}

#drug aside,body.browse-page aside {
	width:20%;
	float:right
}
#drug aside h2,body.browse-page aside h2 {
	font-weight:bold;
	color:#000;
	font-family:Helvetica,"Helvetica Neue",Arial,sans-serif;
	padding:0 0 4px;
	font-size:.9375em
}

#drug #filters {
	width:15.9574468%;
	float:left;
	margin-right:1.0638298%
}
#drug #filters .filter {
	background:#FFF9C2;
	padding:6.6666667%;
	margin-bottom:3px;
	font-size:.8125em
}
#drug .filter h3 {
	padding-bottom:2px
}
#drug .filter .toggle {
	font-weight:normal;
	font-size:.769230769em;
	display:none;
	margin-left: 5px;
}
#drug .filter .field .toggle:hover {
	text-decoration:underline;
	cursor:pointer
}
#drug .filter:hover .toggle {
	display:inline
}
#drug .filter .toggle a {
	text-decoration:none
}
#drug .filter .toggle a:hover {
	text-decoration:underline
}
#drug .filter span.location:hover {
	cursor:pointer
}
#drug .filter .field {
	padding:2px 0;
	font-size:.923076923em
}
#drug #content {
	float:left;
	width:61.5%;
	position:relative;
	z-index:2
}
#drug #content:after,body.browse-page #content:after {
	content:"";
	position:absolute;
	width:10px;
	height:100%;
	right:-10px;
	top:0;
	z-index:100
}
#drug #result-list article,body.browse-page #result-list article {
	background-color:white;
	background-repeat:repeat-y;
	background-position:5% 0;
	clear:left;
	border-bottom:1px solid #e0e0e0
}

#drug #result-list article:hover,body.browse-page #result-list article:hover {
	cursor:pointer;
	background-position:5% 800px;
	background-repeat:repeat-y
}

#result-list .location {
	width:59.5102041%;
	padding:8px 2.0408163%;
	float:left
}
#result-list .location .info span {
	white-space:nowrap
}
#result-list .location .info span:before {
	content:' • '
}
#result-list .location .info span:first-child:before {
	content:''
}
#result-list .location .info .highlighted,#result-list .location .info .generic {
	font-weight:bold
}
.seeders:after {
	content:' seeders'
}
.leaches:after {
	content:' leaches'
}
.highlighted {
	color:#393
}
#result-list .address a {
	color:#3c7edd;
	text-decoration:none
}
#result-list .address a:hover {
	text-decoration:underline
}
#result-list .location h2 {
	font-family:Helvetica,"Helvetica Neue",Arial,sans-serif;
	font-size:1.25em
}
#drug #content div.header,body.browse-page #content div.header {
    background: none repeat scroll 0 0 #F0F0F0;
    color: #666666;
	margin-top: 6px;
}
#drug #content div.header .dosage {
    background: none repeat scroll 0 0 #999999;
    color: white;
    float: left;
    font-family: Helvetica,"Helvetica Neue",Arial,sans-serif;
    font-size: 1.125em;
    font-weight: bold;
    margin-right: 0.5em;
    padding: 0.5em;
    width: 25%;
}
#drug #content div.right {
    float: right;
    width: 28%;
}
#drug #content div.right .price {
    -moz-box-sizing: border-box;
    float: left;
    width: 50%;
    font-size: 0.75em;
    padding-top: 1em;
}
#drug #content div.right .action {
    -moz-box-sizing: border-box;
    float: left;
    font-size: 0.75em;
    width: 50%;
    padding-top: 1em;
}

#drug #savings-list .description {
    background: none repeat scroll 0 0 #EDEDED;
    margin-top: 0.6em;
    padding: 10px;
}

#drug #savings-list .description h2 {
    margin-top: 0;
    padding-left: 0;
    font-family: Helvetica,"Helvetica Neue",Arial,sans-serif;
    margin-bottom: 0.25em;
    margin-top: 0.75em;
}

#drug #savings-list .description p{
    font-size: 0.8125em;
    line-height: 1.61538em;
}

#drug #savings-list article,body.browse-page #savings-list article {
    background: none repeat scroll 0 0 #FFF9C2;
    border: 1px dashed #998F3D;
    margin: 8px 0;
    padding: 10px;
  	font-size:.75em
}
#drug #savings-list article h2,body.browse-page #savings-list article h2,#drug aside .module h3,body.browse-page aside .module h3 {
	background:url(http://assets.goodrx.com/static/images/icon-pack.png) 0 2px no-repeat;
	font-family:Helvetica,"Helvetica Neue",Arial,sans-serif;
	font-size:1.25em;
	padding-top:2px;
	padding-bottom:.15em;
	padding-left:20px
}
#drug #savings-list article.pill-splitting h2,aside .pill-splitting h3 {
	background-position:-30px -30px
}
#result-list article .info {
	font-size:.75em;
	color:#888
}
#drug #result-list article .expanded-info,body.browse-page #result-list article .expanded-info {
	clear:left;
	border-top:1px solid #ddd;
	display:none;
	margin: 4px;
	background: none repeat scroll 0 0 #F5F5F5;
}
#drug #result-list article .note,body.browse-page #result-list article .note {
	background:#f0f0f0;
	color:##666;
	padding:6px 10px;
	font-size:.916666667em
}

#drug .stores h3 {
    background: none repeat scroll 0 0 #808080;
    color: white;
    font-size: 0.8125em;
    padding: 4px;
}
#drug #result-list article .store,body.browse-page #result-list article .drug-name {
	background:#f5f5f5;
	border-top:1px solid #EAEAEA;
	color:#444;
	font-size: 0.8125em;
}

#drug #result-list article .store .location,body.browse-page #result-list article .store .location {
	width:60.244898%;
	padding:8px 4px;
}
#drug #result-list article .store .phone,body.browse-page #result-list article .store .phone {
	width:12.5%;
	float:left;
	text-align:right;
	padding:5px 1.0204082% 5px 0
}


#drug #result-list div.stat,body.browse-page #result-list div.stat {
	width:14%;
	float:right;
	text-align:left
}
#drug #result-list .stat .primary .value,body.browse-page #result-list .stat .primary .value {
	font-family:Helvetica,"Helvetica Neue",Arial,sans-serif;
	font-size:1.5em;
	font-weight:bold;
	line-height:22px;
	padding:4px 0 0 0
}
#result-list .stat .value:before,.sort-options .stat:before,.stats .value:before,#results #map-canvas .stat .value:before {
	content:'';
	font-weight:normal;
	position:relative
}
.prices .value:before,#result-list .stat .primary .value:before {
	font-size:.571428571em;
	margin-right:2px;
	top:-0.5em
}
#result-list .stat .secondary .value:before,.sort-options .stat:before,#result-list td.price .value:before {
	font-size:.75em;
	margin-right:1px;
	top:-0.25em
}
#results #map-canvas .stat .value:before {
	font-size:.583333333em;
	margin-right:2px;
	top:-0.5em
}
div.stat div {
	line-height:12px
}

.stat .indicator {
	font-size:.6875em;
	background:url(http://assets.goodrx.com/static/images/icon-pack.png) 0 0 no-repeat;
	padding-left:15px;
	margin:0!important
}
.stat .tick.indicator {
	color:#393;
	background-position:-60px -58px
}
.stat .flag.indicator {
	color:#933;
	background-position:-100px -99px
}

aside .module h3.tick {
	background-position:-58px -56px!important;
	color:#393!important
}
aside .module h3.low-price {
	background-position:-77px -76px!important;
	color:#3c7edd!important
}
aside .module h3.flag {
	background-position:-97px -96px!important;
	color:#933!important
}

#result-list .stat .value {
	font-weight:bold
}
#results aside {
	float:right;
	width:20%
}

#results aside .module {
	padding:10px;
	background:#fff9c2;
	margin-bottom:3px;
	font-size:.75em;
}
#results aside .module p+p {
	margin:1em 0
}

#results aside h3 {
	font-size:1.125em;
	color:#4c471e;
	outline:0!important
}
#results aside h3:hover {
	cursor:pointer
}
#results aside .item {
	clear:left
}


#pagination {
	width:68.0851064%;
	text-align:center;
	padding:.5em;
	font-size:.875em
}


body.marketing-page .email input[type="submit"]:hover,body.browse-page .location input[type="submit"]:hover,body.error-page #search input[type="submit"]:hover {
	color:white;
	background:#8d8002
}

.flex-container a:active,.flexslider a:active {
	outline:0
}

.slides:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0
}

.flex-control-nav li a:hover {
	background-position:0 -13px
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
	clip:auto;
	height:auto;
	margin:0;
	overflow:visible;
	position:static;
	width:auto
}

.clearfix:before,.clearfix:after {
	content:"\0020";
	display:block;
	height:0;
	overflow:hidden
}
.clearfix:after {
	clear:both
}
.clearfix {
	zoom:1
}


@media screen and (max-width:900px) and (min-width:671px) {
	
	#drug #content {
		width:60%
	}
	
	#drug #results aside {
		width:40%
	}
	#drug #result-list article {
		position:relative
	}
	#drug #result-list .location {
		width:58%;
		padding-left:2%;
		padding-bottom:0
	}
	#drug #result-list .location h2 {
		font-size:1em
	}
	#drug #result-list .location div.info {
		font-size:.75em
	}

	#drug #result-list .stat {
		float:none;
		position:absolute;
		top:0;
		right:3px;
		width:29%;
		padding-top:3px
	}
	#drug #result-list .stat .primary .value {
		font-size:1.52em
	}

	#drug #result-list .expanded-info .location {
		width:60%!important
	}
	#drug #result-list .expanded-info .phone {
		width:29%!important;
		text-align:right
	}
	#drug #results aside h3 {
		font-size:1.125em
	}

}
@media screen and (max-width:670px) and (min-width:521px) {

	body>footer {
		font-size:.6875em;
		width:90%;
		margin-top:40px
	}
	#drug #main {
		margin:0 3%;
		padding:10px 5px;
		width:auto
	}
	#drug #logo {
		margin-right:20px
	}
	body#drug>header {
		width:auto;
		margin:10px 3% 0
	}

	#drug #main #filters {
		float:none;
		clear:both;
		width:100%
	}
	#drug #main #filters .filter {
		padding:2px 10px
	}
	#drug #main #filters .filter h3 {
		display:inline;
		display:inline-block;
		width:22%
	}
	#drug #main #filters .filter .field {
		display:inline
	}
	#drug #content {
		float:none;
		width:100%
	}

	#drug #content:after {
		display:none
	}
	#drug #results aside {
		float:none;
		width:100%
	}

}
@media screen and (max-width:520px) {

	body>footer {
		margin:15px;
		width:auto;
		border-top:1px solid #ddd;
		padding-top:15px
	}
	body#drug>header {
		margin:10px 5px 0;
		width:auto
	}

	#drug #logo {
		text-align:center;
		width:90%;
		margin:0 auto .5em
	}
	#drug #logo img {
		width:116px
	}

	#drug #main {
		margin:0 5px;
		padding:5px;
		width:auto
	}

	#drug #main aside {
		display:block;
		clear:left
	}


	#drug #main #filters {
		float:none;
		clear:both;
		width:100%
	}
	#drug #main #filters .filter {
		padding:2px 10px
	}

	#drug #main #filters .filter .field {
		display:inline
	}
	#drug #main #content {
		clear:both
	}
	#drug #main header div.info h3 {
		font-size:.75em
	}

	#drug #main .more-info:hover {
		cursor:pointer
	}
	#drug #result-list article .expanded-info .location {
		width:65%
	}
	#drug #result-list article .expanded-info .phone {
		width:25%
	}


	#drug #content {
		float:none;
		width:100%
	}
	#drug #content:after {
		display:none
	}
	#drug #result-list .location {
		width:70%;
		padding-left:2%;
		padding-bottom:4px
	}
	#drug #result-list .location div.info {
		font-size:.75em
	}
	#drug #result-list .location h2 {
		font-size:1.25em
	}

	#drug #result-list article {
		position:relative
	}
	#drug #result-list .stat {
		float:none;
		position:absolute;
		top:0;
		right:4px;
		width:24%;
		padding-top:3px;
		text-align:right
	}
	#drug #result-list .stat .primary .value {
		font-size:1.52em
	}

	#drug #results aside {
		float:none;
		width:100%
	}

}
@media screen and (max-device-width:480px) {
	html {
		-webkit-text-size-adjust:none;
		-ms-text-size-adjust:none
	}
}
@media print {
	* {
		background:transparent!important;
		color:black!important;
		text-shadow:none!important;
		filter:none!important;
		-ms-filter:none!important
	}
	a,a:visited {
		color:#444!important;
		text-decoration:underline
	}
	a[href]:after {
		content:" (" attr(href) ")"
	}
	abbr[title]:after {
		content:" (" attr(title) ")"
	}
	.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {
		content:""
	}


	tr,img {
		page-break-inside:avoid
	}
	@page {
		margin:.5cm
	}
	p,h2,h3 {
		orphans:3;
		widows:3
	}
	h2,h3 {
		page-break-after:avoid
	}
}

aside .savings h3 {
	background-image:none;
	padding-left:0
}

.ui-button:hover {
	background:#ffea78;
	font-weight:bold;
	border:2px solid #393626;
	-webkit-box-shadow:none
}

ul.comma-list li:after {
	content:','
}
ul.comma-list li.no-comma:after {
	content: ''
}