{% extends "admin_tools/dashboard/module.html" %}
{% block module_content %}
{{ module.interval }}
  <script src="http://oesmith.github.com/morris.js/js/libs/raphael-2.0.2.min.js"></script>
  <script src="http://oesmith.github.com/morris.js/js/morris.js"></script>

  <script charset="utf-8" type="text/javascript">
  
    Morris.Line({
      element: 'trackers',
      data: [
        {% for tracker in module.trackers %}{y: '{{ tracker.date|date:"Y-m-d" }}', a: {{ tracker.quantity }}},{% endfor%}
      ],
      xkey: 'y',
      ykeys: ['a'],
      lineColors: ['#5B80B2'],
      labels: ['Trackers added']
    });

  </script>
  
  <div class="graph" id="trackers" style="width:800px; height:200px;"></div>
  
{% endblock %}
