{% load parse %}
{% load compress %}
<!DOCTYPE html>
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms no-csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Trakr - Tracking the Trackers</title>
    <meta name="description" content="Trakr lists the most popular and trending trackers out there.">
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />
    {% compress css %}
    <link rel="stylesheet" href="/static/main/css/style.css">
    <link rel="stylesheet" href="/static/trackers/css/custom.css">
    {% endcompress %}
    {% compress js %}
    <script src="/static/main/js/jquery.js"></script>
    {% endcompress %}
  </head>
  <body id="drug" class="">
    <script>
    f = null;
    $("#drug #result-list article").live("click", function () {
        f && this !== f && ($(f).find(".expanded-info").slideUp("slow"), $(f).removeClass("expanded"), f = null);
        $(this).find(".expanded-info").slideToggle("slow");
        $(this).toggleClass("expanded");
        return f = this
    })
    </script>
    <header class="clearfix">
      <div id="logo">
        <a href="/"><img alt="Trakr" src="/static/trackers/images/logo.png" style="padding-bottom: 0px; height:60px;"></a>
      </div>
    </header>
    <div id="main" role="main">
      <nav class="tabs">
        <div class="prompt"> Choose trend period » </div>
        <ul>
          <li{% if method == "DAY" %} class="selected"{% endif %}>
            <h3><a href="/trackers/day/">Day</a></h3>
            <div>Daily trends</div>
          </li>
          <li{% if method == "WEEK" %} class="selected"{% endif %}>
            <h3><a href="/trackers/week/">Week</a></h3>
            <div>Weekly trends</div>
          </li>
          <li{% if method == "MONTH" %} class="selected"{% endif %}>
            <h3><a href="/trackers/month/">Month</a></h3>
            <div>Monthly trends</div>
          </li>
          <li{% if method == "YEAR" %} class="selected"{% endif %}>
            <h3><a href="/trackers/year/">Year</a></h3>
            <div>Yearly trends</div>
          </li>
          <li{% if method == "ALL" %} class="selected"{% endif %}>
            <h3><a href="/trackers/all/">All</a></h3>
            <div>Overall trends</div>
          </li>
        </ul>
      </nav>
      <section id="results" class="clearfix">
      <div id="filters">
        <div class="filter">
          <h3>Countries<span class="toggle"><a href="#" class="check-all">all</a></span></h3>
          {% regroup trackers by country as countries %}
          {% for country in countries %}
          <div class="field">
            <input name="country" id="size-single-disc" value="onecd" checked="checked" type="checkbox">
            <label for="size-single-disc">{{ country.grouper|title }}</label><span class="toggle">only</span>
          </div>
          {% endfor %}
        </div>
        <div class="filter">
          <h3>Reliability</h3>
          <div class="field">
            <input name="reliability" id="reliability-all" value="all" type="radio" checked="checked">
            <label for="reliability-all">All</label>
          </div>
          <div class="field">
            <input name="reliability" id="reliability-reliable" value="reliable" type="radio">
            <label for="reliability-reliable">Reliable</label>
          </div>
          <div class="field">
            <input name="reliability" id="reliability-unreliable" value="unreliable" type="radio">
            <label for="reliability-unreliable">Unreliable</label>
          </div>
        </div>
        <div class="filter">
          <h3>Latency</h3>
          <div class="field">
            <input name="latency" id="latency-all" value="all" checked="checked" type="radio">
            <label for="latency-all">All</label>
          </div>
          <div class="field">
            <input name="latency" id="latency-fast" value="fast" type="radio">
            <label for="latency-fast">Fast</label>
          </div>
          <div class="field">
            <input name="latency" id="latency-slow" value="slow" type="radio">
            <label for="latency-slow">Slow</label>
          </div>
        </div>
        <div class="filter">
          <h3>Protocol</h3>
          <div class="field">
            <input name="protocol" id="protocol-all" value="all" checked="checked" type="radio">
            <label for="protocol-all">All</label>
          </div>
          <div class="field">
            <input name="protocol" id="protocol-tcp" value="tcp" type="radio">
            <label for="protocol-tcp">Transfer Control</label>
          </div>
          <div class="field">
            <input name="protocol" id="protocol-udp" value="udp" type="radio">
            <label for="protocol-udp">User Datagram</label>
          </div>
        </div>
        <div class="filter">
          <h3>Security</h3>
          <div class="field">
            <input name="security" id="security-all" value="all" checked="checked" type="radio">
            <label for="security-all">All</label>
          </div>
          <div class="field">
            <input name="security" id="security-secured" value="secured" type="radio">
            <label for="security-secured">Secured</label>
          </div>
          <div class="field">
            <input name="security" id="security-unsecured" value="unsecured" type="radio">
            <label for="security-unsecured">Unsecured</label>
          </div>
        </div>
        <div class="filter">
          <h3>Type</h3>
          <div class="field">
            <input name="type" id="type-all" value="all" type="radio" checked="checked" disabled>
            <label for="type-all">All</label>
          </div>
          <div class="field">
            <input name="type" id="type-private" value="private" type="radio" disabled>
            <label for="type-private">Private only</label>
          </div>
          <div class="field">
            <input name="type" id="type-public" value="public" type="radio" disabled>
            <label for="type-public">Public only</label>
          </div>
        </div>
      </div>
      <div id="content">
        <div id="savings-list">
          <div class="description clearfix">
            <h2>How are trackers checked?</h2>
            <p>
              New torrents are tracked on popular torrent sites and added to the catalogue daily. In order for a torrent to be added to the catalogue it must meet a few criteria. Firstly, it should have a minimum of 50 peers or seeds at that time. Secondly, the creation date of the torrent should not be in the future. (A very common problem if a bad tool was used to create the torrent.) The trackers in the torrent are scraped for the peer count daily and and an exponential weighted moving algorithm is used to find the most popular and trending torrents in a period.
              <a href="/about">...read more</a>
            </p>
          </div>
          <article class="clearfix copay-card">
            <h2>Tracker Boosting</h2>
            <p>
              Add more trackers to the torrent to get higher download seeds and more seeds.
            </p>
          </article>
          <article class="clearfix pill-splitting">
            <h2>Private Trackers</h2>
            <p>
               Increase the speed significantly by using private trackers.
            </p>
          </article>
        </div>
        <div id="result-list">
          {% regroup trackers by country as countries %}
          {% for country in countries %}
          <div class="clearfix header">
            <div class="right">
              <div class="discount price"><span>Latency</span></div>
              <div style="padding-top:1em;" class="action"><span>Uptime</span></div>
            </div>
            <div class="dosage">{{ country.grouper|title }}</div>
          </div>
          {% for tracker in country.list %}
          <article class="clearfix torrent">
            <div class="location">
              <h2>{{ tracker.host }}</h2>
              <div class="info">
                <span class="highlighted">{% if tracker.country %}{{ tracker.country|title }}{% else %}Unknown{% endif %}</span>
                <span class="protocol">{{ tracker.protocol }}</span>
                <span class="security">{% if tracker.secured %}Secured{% else %}Unsecured{% endif %}</span>
              </div>
              <div class="address info">
                <a href="{{ tracker.url }}" target="_blank" title="{{ tracker.url }}">{{ tracker.url }}</a>
              </div>
            </div>
            <div class="stat">
              <div class="primary">
                <div class="value">
                  {% if tracker.average_latency %}{{ tracker.average_latency|floatformat:2 }}{% else %}0.00{% endif %}
                </div>
              </div>
              <div>
                {% if tracker.average_latency > 3 %}
                <span class="flag indicator">Slow</span>
                {% else %}
                <span class="tick indicator">Fast</span>
                {% endif %}
              </div>
            </div>
            <div class="stat">
              <div class="primary">
                <div class="value">
                  {% if tracker.uptime_percentage %}{{ tracker.uptime_percentage|floatformat:1 }}{% else %}0.0{% endif %}
                </div>
              </div>
              <div>
                {% if tracker.uptime_percentage > 50 %}
                <span class="tick indicator">Reliable</span>
                {% else %}
                <span class="flag indicator">Unreliable</span>
                {% endif %}
              </div>
            </div>
            <div class="chart" style="display:none">
              <img src="http://chart.apis.google.com/chart?chs=1000x40&cht=lfi&chco=0077CC&&chm=B,E6F2FA,0,0,0&chls=1,0,0&chd=t:{% for latency_time in tracker.latency_times %}{{ latency_time|floatformat:2 }}{% if not forloop.last %},{% endif %}{% endfor %},11">
            </div>
            <div style="" class="expanded-info">
              <div class="note">
                 Costco Home Delivery is mail-order only. They offer free standard shipping, and you do not have to be a member to use the pharmacy. Costco's in-store pharmacies are also open to non-members.
              </div>
              <div class="stores">
                <h3>Recent Tracker Queries</h3>
                {% for query in tracker.query_set.all|slice:":5" %}
                <div class="store clearfix  ">
                  <div class="location">{{ query.date }}</div>
                  <div class="phone">{{ query.interval }}</div>
                  <div class="phone">{{ query.latency|floatformat:2 }}</div>
                </div>
                {% endfor %}
              </div>
            </div>
          </article>
          {% endfor %}
          {% endfor %}
        </div>
        <div id="popover">
          <div class="content">
          </div>
          <div class="arrow">
          </div>
        </div>
      </div>
      <aside>
        <div class="savings copay-card module">
          <p>
            <strong>
              Trakr allows you access the the list of trackers using a dead-simple REST API. For more information on how the REST API works, read on:
            </strong>
          </p>
          <p>
            <h3 class="low-price">GET /api/alive</h3>
            Returns a new-line delimited list announce URLs of currenlty active and responding trackers.
          </p>
          <p>
            <h3 class="low-price">GET /api/dead</h3>
            Returns a new-line delimited list announce URLs of currenlty dead and non-responding trackers.
          </p>
          <p>
            <h3 class="low-price">GET /api/all</h3>
            Returns a new-line delimited list announce URLs of currenlty dead and alive trackers.
          </p>
        </div>
        <br/>
        <h2>Tracker Information</h2>
        <div class="module">
          <h3 class="tick">Private</h3>
          <p>
             Private trackers are those which are usually invitation only and require credentials to gain access.
          </p>
        </div>
        <div class="module">
          <h3 class="flag">Public</h3>
          <p>
             Public trackers are the most common variety; those that can be accessed and used by anyone.
          </p>
        </div>
      </aside>
      </section>
      <div id="pagination" class="clearfix">
      </div>
    </div>
    <footer>
      <nav>
        <ul>
          <li><a href="/about">About Us</a></li>
        </ul>
      </nav>
      <div class="copyright">
        Copyright 2011 Torhound <a href="/privacy">Privacy Policy</a>
        <a href="/terms">Terms of Use</a>
      </div>
      <p>
        This site doesn't store or index any torrents but simply scrapes content off other sites for ease of use. It doesn't support illegal file-sharing in any way and should not be used for the illegal procurement of copyrighted material. This site was created for educational purposes and not to facilitate illegal file-sharing. Torhound cannot be held accountable for any content that is found using this meta search-engine. For any issues pertaining to copyright infrigements please feel free to contact us. By using this site, you agree to our terms of use.
      </p>
    </footer>
    <script>
        $(".filter .check-all").click(function (a) {
            $(this).parents(".filter").find("input").removeAttr("checked");
            $(this).parents(".filter").find("input").prop("checked", "checked");
        });

        $(".filter .field input[type='radio']").click(function (a) {

            $('article.torrent').each(function() {

                $(this).show();

                //Let's filter out all the trackers based on the fact whether they are reliable
                //or not.
                if ($("input:radio[name=reliability]:checked").val() == 'reliable') {
                    if ($(this).find('span.indicator:eq(1)').html() != 'Reliable') {
                        $(this).hide();
                    }
                }
                if ($("input:radio[name=reliability]:checked").val() == 'unreliable') {
                    if ($(this).find('span.indicator:eq(1)').html() != 'Unreliable') {
                        $(this).hide();
                    }
                }

                //Let's filter out all the trackers based on the fact whether they are fast
                //or slow.
                if ($("input:radio[name=latency]:checked").val() == 'fast') {
                    if ($(this).find('span.indicator:eq(0)').html() != 'Fast') {
                        $(this).hide();
                    }
                }
                if ($("input:radio[name=latency]:checked").val() == 'slow') {
                    if ($(this).find('span.indicator:eq(0)').html() != 'Slow') {
                        $(this).hide();
                    }
                }

                //Let's filter out all the trackers based on the fact whether they are TCP
                //or UDP trackers.
                if ($("input:radio[name=protocol]:checked").val() == 'tcp') {
                   if ($(this).find('span.protocol:eq(0)').html() != 'TCP') {
                       $(this).hide();
                   }
                }
                if ($("input:radio[name=protocol]:checked").val() == 'udp') {
                    if ($(this).find('span.protocol:eq(0)').html() != 'UDP') {
                        $(this).hide();
                    }
                }

                //Let's filter out all the trackers based on the fact whether they are secured
                //or unsecured.
                if ($("input:radio[name=security]:checked").val() == 'secured') {
                    if ($(this).find('span.security:eq(0)').html() != 'Secured') {
                        $(this).hide();
                    }
                }
                if ($("input:radio[name=security]:checked").val() == 'unsecured') {
                    if ($(this).find('span.security:eq(0)').html() != 'Unsecured') {
                        $(this).hide();
                    }
                }

             });

        });

        $(".filter .field .toggle").click(function (a) {
            $(this).parents(".filter").find("input").removeAttr("checked");
            $(this).siblings("input").prop("checked", "checked");
        });
    </script>
  </body>
</html>
