{% extends "admin_tools/dashboard/module.html" %}
{% block module_content %}
{{ module.interval }}

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Task');
        data.addColumn('number', 'Hours per Day');
        data.addRows([
          ['Private', {{ module.trackers.private|default:0 }}],
          ['Public', {{ module.trackers.public|default:0 }}]
        ]);


        var chart = new google.visualization.PieChart(document.getElementById('tracker-groups'));
        chart.draw(data, {colors:['#5B80B2','#7A92A3']});
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Task');
        data.addColumn('number', 'Hours per Day');
        data.addRows([
          ['Movie', {{ module.torrents.movies|default:0 }}],
          ['Music', {{ module.torrents.music|default:0 }}]
        ]);


        var chart = new google.visualization.PieChart(document.getElementById('tracker-states'));
        chart.draw(data, {colors:['#5B80B2','#7A92A3']});
      }
    </script>

    <div style="width: 100%; height: 210px;">
      <div class="graph" id="tracker-groups" style="width:50%; float: left;"></div>
      <div class="graph" id="tracker-states" style="width:50%; float: right;"></div>
    </div>

{% endblock %}
