{% extends "admin_tools/dashboard/module.html" %}
{% block module_content %}

    <div style="width: 100%; height: 70px;">
      <div class="graph" id="tracker-groups1" style="width:50%; float: left;">
        <div id="bar_container0" class="bar_container">
          <div class="barNb" style="font-size: 35px; font-weight: bold; height: 38px; margin-top: 10px; padding: 0; text-align: center; color: #5B80B2;">{{ module.torrents }}</div>
          <div class="barHeader" style="text-align:center; color: #5B80B2;">torrents</div>
        </div>
      </div>
      <div class="graph" id="tracker-states1" style="width:50%; float: right;">
        <div id="bar_container0" class="bar_container">
          <div class="barNb" style="font-size: 35px; font-weight: bold; height: 38px; margin-top: 10px; padding: 0; text-align: center; color: #5B80B2;">{{ module.trackers }}</div>
          <div class="barHeader" style="text-align:center; color: #5B80B2;">trackers</div>
        </div>
     </div>
    </div>

{% endblock %}
