{% extends "admin_tools/dashboard/module.html" %}

{% block module_content %}
    <div style="width: 100%;">
        <table style="width: 100%;">
            <thead>
                <tr>
                    <th>Service</th>
                    <th>Last Event</th>
                    <th style="text-align: center;">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for service in module.services %}
                    <tr style="background: none repeat scroll 0 0 #{% cycle 'F5F5F5' 'FFFFFF' %}">
                        <td style="border: none; vertical-align:middle;">
                            <a href="{% url admin:overseer_service_change service.id %}" class="external-link">{{ service.name }}</a>
                            {% if service.description %}
                                <span style="display: block; font-size: 10px;">{{ service.description }}</span>
                            {% endif %}
                        </td>
                        <td style="border: none; vertical-align:middle;">
                            {% if service.date_updated != service.date_created %}
                                <a href="{% url admin:overseer_event_change 1 %}">{{ service.date_updated|timesince }}</a>
                            {% else %}
                                <em>n/a</em>
                            {% endif %}
                        </td>
                        <td style="border: none; vertical-align:middle; text-align: center;"><img src="/static/common/images/{{ service.status }}.png" alt="service.get_status_display"> </img></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}