body {
    background: none repeat scroll 0 0 #F5F5F5;
    border-top: 5px solid #DC3522;
}

#drug #filters .filter {
    background: none repeat scroll 0 0 #EDEDED;
}

#drug #savings-list article, body.browse-page #savings-list article {
    background: none repeat scroll 0 0 #EDEDED;
}

#results aside .module {
    background: none repeat scroll 0 0 #EDEDED;
}