{% load parse %}
{% load compress %}
<!DOCTYPE html>
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms no-csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Popplr - Popularising the Torrents</title>
    <meta name="description" content="Popplr lists the most popular and trending torrents out there.">
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />
    {% compress css %}
    <link rel="stylesheet" href="/static/main/css/style.css">
    <link rel="stylesheet" href="/static/torrents/css/custom.css">
    {% endcompress %}
    {% compress js %}
    <script src="/static/main/js/jquery.js"></script>
    {% endcompress %}
  </head>
  <body id="drug" class="">
    <script>
    f = null;
    $("#drug #result-list article").live("click", function () {
        f && this !== f && ($(f).find(".expanded-info").slideUp("slow"), $(f).removeClass("expanded"), f = null);
        $(this).find(".expanded-info").slideToggle("slow");
        $(this).toggleClass("expanded");
        return f = this
    })
    </script>
    <header class="clearfix">
      <div id="logo">
        <a href="/"><img src="/static/torrents/images/logo.png" alt="Popplr" style="padding-bottom: 0px; height:60px;"></a>
      </div>
    </header>
    <div id="main" role="main">
      <nav class="tabs">
        <div class="prompt"> Choose trend period » </div>
        <ul>
          <li{% if method == "DAY" %} class="selected"{% endif %}>
            <h3><a href="/torrents/day/">Day</a></h3>
            <div>Daily trends</div>
          </li>
          <li{% if method == "WEEK" %} class="selected"{% endif %}>
            <h3><a href="/torrents/week/">Week</a></h3>
            <div>Weekly trends</div>
          </li>
          <li{% if method == "MONTH" %} class="selected"{% endif %}>
            <h3><a href="/torrents/month/">Month</a></h3>
            <div>Monthly trends</div>
          </li>
          <li{% if method == "YEAR" %} class="selected"{% endif %}>
            <h3><a href="/torrents/year/">Year</a></h3>
            <div>Yearly trends</div>
          </li>
          <li{% if method == "ALL" %} class="selected"{% endif %}>
            <h3><a href="/torrents/all/">All</a></h3>
            <div>Overall trends</div>
          </li>
        </ul>
      </nav>
      <section id="results" class="clearfix">
      <div id="filters">
        <div class="filter">
          <h3>Type</h3>
          <div class="field">
            <input name="type" id="type-all" value="all" checked="checked" type="radio">
            <label for="type-all">All</label>
          </div>
          <div class="field">
            <input name="type" id="type-music" value="music" type="radio">
            <label for="type-music">Music</label>
          </div>
          <div class="field">
            <input name="type" id="type-movie" value="movie" type="radio">
            <label for="type-movie">Movie</label>
          </div>
        </div>
        <div class="filter">
          <h3>Countries<span class="toggle"><a href="#" class="check-all">all</a></span></h3>
          {% regroup torrents by date as dates %}
          {% for date in dates %}
          <div class="field">
            <input name="country" id="size-single-disc" value="onecd" checked="checked" type="checkbox">
            <label for="size-single-disc">{{ date.grouper|date:"F j, Y" }}</label><span class="toggle">only</span>
          </div>
          {% endfor %}
        </div>
        <div class="filter">
          <h3>Reliability</h3>
          <div class="field">
            <input name="reliability" id="reliability-all" value="all" type="radio" checked="checked">
            <label for="reliability-all">All</label>
          </div>
          <div class="field">
            <input name="reliability" id="reliability-reliable" value="reliable" type="radio">
            <label for="reliability-reliable">Reliable</label>
          </div>
          <div class="field">
            <input name="reliability" id="reliability-unreliable" value="unreliable" type="radio">
            <label for="reliability-unreliable">Unreliable</label>
          </div>
        </div>
        <div class="filter">
          <h3>Latency</h3>
          <div class="field">
            <input name="latency" id="latency-all" value="all" checked="checked" type="radio">
            <label for="latency-all">All</label>
          </div>
          <div class="field">
            <input name="latency" id="latency-fast" value="fast" type="radio">
            <label for="latency-fast">Fast</label>
          </div>
          <div class="field">
            <input name="latency" id="latency-slow" value="slow" type="radio">
            <label for="latency-slow">Slow</label>
          </div>
        </div>
        <div class="filter">
          <h3>Type</h3>
          <div class="field">
            <input name="type" id="type-all" value="all" type="radio" checked="checked" disabled>
            <label for="type-all">All</label>
          </div>
          <div class="field">
            <input name="type" id="type-private" value="private" type="radio" disabled>
            <label for="type-private">Private only</label>
          </div>
          <div class="field">
            <input name="type" id="type-public" value="public" type="radio" disabled>
            <label for="type-public">Public only</label>
          </div>
        </div>
      </div>
      <div id="content">
        <div id="savings-list">
          <div class="description clearfix">
            <h2>How are torrents tracked?</h2>
            <p>
              New torrents are tracked on popular torrent sites and added to the catalogue daily. In order for a torrent to be added to the catalogue it must meet a few criteria. Firstly, it should have a minimum of 50 peers or seeds at that time. Secondly, the creation date of the torrent should not be in the future. (A very common problem if a bad tool was used to create the torrent.) The trackers in the torrent are scraped for the peer count daily and and an exponential weighted moving algorithm is used to find the most popular and trending torrents in a period.
              <a href="/about">...read more</a>
            </p>
          </div>
          <article class="clearfix copay-card">
            <h2>Tracker Boosting</h2>
            <p>
              Add more trackers to the torrent to get higher download seeds and more seeds.
            </p>
          </article>
          <article class="clearfix pill-splitting">
            <h2>Private Trackers</h2>
            <p>
               Increase the speed significantly by using private trackers.
            </p>
          </article>
        </div>
        <div id="result-list">
          {% regroup torrents by date as dates %}
          {% for date in dates %}
          <div class="clearfix header">
            <div class="right">
              <div class="discount price"><span>Days</span></div>
              <div style="padding-top:1em;" class="action"><span>Peers</span></div>
            </div>
            <div class="dosage">{{ date.grouper|date:"F j, Y" }}</div>
          </div>
          {% for torrent in date.list %}
          <article class="clearfix torrent">
            <div class="location">
              <h2>{{ torrent.name }}</h2>
              <div class="info">
                <span class="highlighted">{{ torrent.type|title }}</span>
                <span class="protocol">{{ torrent.size }}</span>
                <span class="security">29 files</span>
              </div>
              <div class="address info">
                <a href="http://www.torcache.net/torrent/{{ torrent.hash }}.torrent" target="_blank" title="{{ torrent.hash }}">{{ torrent.hash }}</a>
              </div>
            </div>
            <div class="stat">
              <div class="primary">
                <div class="value">
                  {% if torrent.latest_peers %}{{ torrent.latest_peers }}{% else %}0{% endif %}
                </div>
              </div>
              <div>
                {% if torrent.latest_peers < 100 %}
                <span class="flag indicator">Little</span>
                {% else %}
                <span class="tick indicator">Enough</span>
                {% endif %}
              </div>
            </div>
            <div class="stat">
              <div class="primary">
                <div class="value">
                  {{ torrent.days_since }}
                </div>
              </div>
              <div>
                {% if torrent.days_since < 7 %}
                <span class="tick indicator">New</span>
                {% else %}
                <span class="flag indicator">Old</span>
                {% endif %}
              </div>
            </div>
            <div class="chart" style="display:none">
              <img src="http://chart.apis.google.com/chart?chs=1000x40&cht=lfi&chco=0077CC&&chm=B,E6F2FA,0,0,0&chls=1,0,0&chd=t:{% for peer_quantity in torrent.peer_quantities %}{{ peer_quantity }}{% if not forloop.last %},{% endif %}{% endfor %}">
            </div>
            <div style="" class="expanded-info">
              <div class="note">
                 Costco Home Delivery is mail-order only. They offer free standard shipping, and you do not have to be a member to use the pharmacy. Costco's in-store pharmacies are also open to non-members.
              </div>
              <div class="stores">
                <h3>Recent Torrent Checks</h3>
                {% for check in torrent.recent_checks|slice:":5" %}
                <div class="store clearfix  ">
                  <div class="location">{{ check.date|parse:"%Y-%m-%d"|date:"F j, Y" }}</div>
                  <div class="phone">{{ check.peers }}</div>
                </div>
                {% endfor %}
              </div>
            </div>
          </article>
          {% endfor %}
          {% endfor %}
        </div>
        <div id="popover">
          <div class="content">
          </div>
          <div class="arrow">
          </div>
        </div>
      </div>
      <aside>
        <div class="savings copay-card module">
          <p>
            <strong>
              Popplr allows you access the the list of torrents using a dead-simple REST API. For more information on how the REST API works, read on:
            </strong>
          </p>
          <p>
            <h3 class="low-price">GET /api/day/</h3>
            Returns a new-line delimited list of trending torrents during the current day.
          </p>
          <p>
            <h3 class="low-price">GET /api/week/</h3>
            Returns a new-line delimited list of trending torrents during the current week.
          </p>
          <p>
            <h3 class="low-price">GET /api/month/</h3>
            Returns a new-line delimited list of trending torrents during the current month.
          </p>
          <p>
            <h3 class="low-price">GET /api/year/</h3>
            Returns a new-line delimited list of trending torrents during the current year.
          </p>
          <p>
            <h3 class="low-price">GET /api/all/</h3>
            Returns a new-line delimited list of all trending torrents.
          </p>
        </div>
        <br/>
        <h2>Torrent Information</h2>
        <div class="module">
          <h3 class="tick">Private</h3>
          <p>
             Private torrents are those which are usually invitation only and require credentials to gain access.
          </p>
        </div>
        <div class="module">
          <h3 class="flag">Public</h3>
          <p>
             Public torrents are the most common variety; those that can be accessed and used by anyone.
          </p>
        </div>
      </aside>
      </section>
      <div id="pagination" class="clearfix">
      </div>
    </div>
    <footer>
      <nav>
        <ul>
          <li><a href="/about">About Us</a></li>
        </ul>
      </nav>
      <div class="copyright">
        Copyright 2011 Torhound <a href="/privacy">Privacy Policy</a>
        <a href="/terms">Terms of Use</a>
      </div>
      <p>
        This site doesn't store or index any torrents but simply scrapes content off other sites for ease of use. It doesn't support illegal file-sharing in any way and should not be used for the illegal procurement of copyrighted material. This site was created for educational purposes and not to facilitate illegal file-sharing. Torhound cannot be held accountable for any content that is found using this meta search-engine. For any issues pertaining to copyright infrigements please feel free to contact us. By using this site, you agree to our terms of use.
      </p>
    </footer>
    <script>
        $(".filter .check-all").click(function (a) {
            $(this).parents(".filter").find("input").removeAttr("checked");
            $(this).parents(".filter").find("input").prop("checked", "checked");
        });

        $(".filter .field input[type='radio']").click(function (a) {

            $('article.torrent').each(function() {

                $(this).show();

                //Let's filter out all the torrents based on the fact whether they are movies
                //or music.
                if ($("input:radio[name=type]:checked").val() == 'movie') {
                    if ($(this).find('span.highlighted').html() != 'Movie') {
                        $(this).hide();
                    }
                }
                if ($("input:radio[name=type]:checked").val() == 'music') {
                    if ($(this).find('span.highlighted').html() != 'Music') {
                        $(this).hide();
                    }
                }

                //Let's filter out all the torrents based on the fact whether they are reliable
                //or not.
                if ($("input:radio[name=reliability]:checked").val() == 'reliable') {
                    if ($(this).find('span.indicator:eq(1)').html() != 'Reliable') {
                        $(this).hide();
                    }
                }
                if ($("input:radio[name=reliability]:checked").val() == 'unreliable') {
                    if ($(this).find('span.indicator:eq(1)').html() != 'Unreliable') {
                        $(this).hide();
                    }
                }

                //Let's filter out all the torrents based on the fact whether they are fast
                //or slow.
                if ($("input:radio[name=latency]:checked").val() == 'fast') {
                    if ($(this).find('span.indicator:eq(0)').html() != 'Fast') {
                        $(this).hide();
                    }
                }
                if ($("input:radio[name=latency]:checked").val() == 'slow') {
                    if ($(this).find('span.indicator:eq(0)').html() != 'Slow') {
                        $(this).hide();
                    }
                }

             });

        });

        $(".filter .field .toggle").click(function (a) {
            $(this).parents(".filter").find("input").removeAttr("checked");
            $(this).siblings("input").prop("checked", "checked");
        });
    </script>
  </body>
</html>
